<div id="outputholder"><h1>Ut proverbia non nulla veriora sint quam vestra dogmata.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Stuprata per vim Lucretia a regis filio testata civis se ipsa interemit. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Duo Reges: constructio interrete. Graccho, eius fere, aequalí? Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum. Quid enim? </p>

<ul>
	<li>Qua tu etiam inprudens utebare non numquam.</li>
	<li>Videsne, ut haec concinant?</li>
	<li>Num igitur utiliorem tibi hunc Triarium putas esse posse, quam si tua sint Puteolis granaria?</li>
	<li>Mene ergo et Triarium dignos existimas, apud quos turpiter loquare?</li>
</ul>


<h2>Et certamen honestum et disputatio splendida! omnis est enim de virtutis dignitate contentio.</h2>

<p>Nihil ad rem! Ne sit sane; Sic enim censent, oportunitatis esse beate vivere. </p>

<p>Paria sunt igitur. An ea, quae per vinitorem antea consequebatur, per se ipsa curabit? </p>

<p>Quid enim? Estne, quaeso, inquam, sitienti in bibendo voluptas? Quid enim de amicitia statueris utilitatis causa expetenda vides. Zenonis est, inquam, hoc Stoici. At iam decimum annum in spelunca iacet. <mark>Sed ad rem redeamus;</mark> Primum in nostrane potestate est, quid meminerimus? <a href="http://loripsum.net/" target="_blank">Cur post Tarentum ad Archytam?</a> </p>

<blockquote cite="http://loripsum.net">
	Is ita vivebat, ut nulla tam exquisita posset inveniri voluptas, qua non abundaret.
</blockquote>


<pre>Qui bonum omne in virtute ponit, is potest dicere perfici
beatam vitam perfectione virtutis;

Si in ipso corpore multa voluptati praeponenda sunt, ut
vires, valitudo, velocitas, pulchritudo, quid tandem in
animis censes?
</pre>


<p>Iam in altera philosophiae parte. In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret. Quamquam tu hanc copiosiorem etiam soles dicere. Itaque nostrum est-quod nostrum dico, artis est-ad ea principia, quae accepimus. <i>Quid de Pythagora?</i> <a href="http://loripsum.net/" target="_blank">Estne, quaeso, inquam, sitienti in bibendo voluptas?</a> </p>

<dl>
	<dt><dfn>Idem adhuc;</dfn></dt>
	<dd>Quis hoc dicit?</dd>
	<dt><dfn>Etiam beatissimum?</dfn></dt>
	<dd>Sin eam, quam Hieronymus, ne fecisset idem, ut voluptatem illam Aristippi in prima commendatione poneret.</dd>
	<dt><dfn>Tria genera bonorum;</dfn></dt>
	<dd>Nam, ut saepe iam dixi, in infirma aetate inbecillaque mente vis naturae quasi per caliginem cernitur;</dd>
	<dt><dfn>Tubulo putas dicere?</dfn></dt>
	<dd>Nam si amitti vita beata potest, beata esse non potest.</dd>
</dl>


<ol>
	<li>Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.</li>
	<li>Cuius etiam illi hortuli propinqui non memoriam solum mihi afferunt, sed ipsum videntur in conspectu meo ponere.</li>
	<li>Nam illud vehementer repugnat, eundem beatum esse et multis malis oppressum.</li>
	<li>Semovenda est igitur voluptas, non solum ut recta sequamini, sed etiam ut loqui deceat frugaliter.</li>
	<li>Potius ergo illa dicantur: turpe esse, viri non esse debilitari dolore, frangi, succumbere.</li>
</ol>


</div>
