.background {
    transition: opacity ease 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -99999;
}

svg path {
    opacity: 0.1;
    transition: opacity 20s ease;
}

svg rect {
    pointer-events: none;
}

svg path:hover, svg path:active {
    opacity: 1;
    transition: opacity 0.1s ease;
}

div#awesomeLoadingImage img {
    max-width: 100%;
    max-height: 175px;
    border-radius: 400px;
    border-bottom-right-radius: 0;
}
