.background{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -99999;
}
    .background, .background svg{
        height: 100%;
        width: 100%; 
    }    
    .background svg path {
        opacity: 0.1;
        transition: opacity 20s ease;
    }    
    .background svg rect {
        pointer-events: none;
    }
    .background svg path:hover, .background svg path:active {
        opacity: 1;
        transition: opacity 0.1s ease;
    }
