body {
  padding-left: 15%;
}

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1%;
  width: 10%;
  background: rgba(33, 33, 33, 0.3);
}

.sidebar-avatar {
  background: white;
  padding: 3px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.sidebar-avatar svg {
  width: 100%;
  height: auto;
}
